<% title "Phixter, the code" %>

<!-- Tab01 -->
<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div> <!-- /tab01 -->


<h3 class="tit">As an image</h3>
<textarea><%=h "#{@phixter.uri}/#{@phixter.value}" %></textarea>

<h3 class="tit">As an script</h3>
<textarea><%=h "#{@phixter.uri}/#{@phixter.value}" %></textarea>
