<!-- Tab01 -->
<div>

  <p>Phixter Visits: an Arduino experiment.</p>

</div> <!-- /tab01 -->



<!-- 2 columns -->
<h3 class="tit">Phixter Visits</h3>

<div class="col50">

  <p class="t-justify">
    PhixterVisits is a way to convert an user visit on your web site into a blinking led on your desktop.
  </p>
  
  <p class="t-justify">
    Each time your website receives a visit a signal will send until your desktop and led will blink.
  </p>
  <p class="t-justify">
    This is an Arduino project and is not very easy to build all the stuff is needed 
    to make it work.
  </p>
  <p class="t-justify">
    All the instructions, you can find all the instructions, code and details on the 
    <a href="http://www.fernandoguillen.info/es/blog/2010/03/14/phixter_visits/" title="Arduino: Phixter Visits' webpage">Arduino: Phixter Visits webpage</a>.
  </p>
  
</div> <!-- /col50 -->

<div class="col50 f-right">

  <p class="t-justify"><%= image_tag 'phixter_visits_home_draw.png' %></p>
  
</div> <!-- /col50 -->
